<!DOCTYPE html>
{% extends 'base.html' %}
 
{% block title %}Same Family{% endblock title %}

{% block content %}
    <br>      
    <br>      
    <br>      
    <div>
        <h4><i class="fa fa-exclamation-triangle fa-3x"></i></h4>
        <h4>You are trying to join family you are already in</h4>
        <h4>Your family is {{ family_requested }} now</h4>
    </div>
    <br>
    <h6>{% if user.is_authenticated %}Welcome back {{ user.email }}
        {% else %}You are not logged in
        {% endif %}
    </h6>
    <!-- <div style="height:5px;font-size:11px;color:#ffffff;"> 
        {% if request.user.is_authenticated %}
            <a href="/accounts/logout/" class="pull-right" >Log Out</a>
            {% if request.user.first_name or request.user.last_name %}
                {{ request.user.first_name }} {{ request.user.last_name }}
            {% else %}{{ request.user.username }}
            {% endif %}
            &nbsp;&nbsp;FamilyID:{{request.user.userprofile.family_id}}
            &nbsp;&nbsp;PIN:{{request.user.userprofile.family_id.pin}}
        {% else %}<a href="/accounts/login/" class="pull-right">Log In</a>
        {% endif %}
    </div> -->
    
{% endblock content %}
    

        

